<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="glimpse" type="Glimpse.Net.Configuration.GlimpseConfiguration" />
  </configSections>
  <connectionStrings>
    <add name="LikeSearchTest" connectionString="Data Source=.\SQL2008r2;Initial Catalog=LikeSearchTest;Trusted_Connection=Yes" providerName="System.Data.SqlClient" />
    <add name="MyData" connectionString="data source=|DataDirectory|\MyData.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <glimpse on="true" saveRequestCount="5">
    <ipAddresses>
      <add address="127.0.0.1" />
      <!--IPv4-->
      <add address="::1" />
      <!--IPv6-->
    </ipAddresses>
    <contentTypes>
      <add contentType="text/html" />
    </contentTypes>
  </glimpse>
</configuration>